@model ClientTripsViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="background: white; border-radius: 5px; padding: 20px;">
    <div class="table">
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Create</span></a>
        <div class="table__search">
            <form asp-action="Index" method="post">
                <div class="table__search__block">
                    <div class="table__search__item">
                        <span class="display">Min start time</span>
                        <input asp-for="MinDateTime">
                    </div>
                    <div class="table__search__item">
                        <span class="display">Max start time</span>
                        <input asp-for="MaxDateTime">
                    </div>
                </div>
                <div class="table__search__block">
                    <div class="table__search__item">
                        <div class="table__search__submit"><input type="submit" value="Search"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table__content">
            <div class="table__row">
                <div class="table__cell">Client</div>
                <div class="table__cell">Trip</div>
                <div class="table__cell">Start Date</div>
                <div class="table__cell"></div>
            </div>
            @foreach (var item in Model.TripClients)
            {
                <div class="table__row">
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Client.ClientId)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Trip.TripId)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </div>
                    <div class="table__cell table__cell__buttons">
                        <div class="table__buttons">
                            <a asp-action="Edit" asp-route-id="@item.TripClientId" class="table__button1"><span>Edit</span></a>
                            <a asp-action="Delete" asp-route-id="@item.TripClientId" class="table__button1"><span>Delete</span></a>
                            <a href="" class="table__button1"><span>Переглянути</span></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>