@model ClientTripsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Min start time</label>
                <input asp-for="MinDateTime" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label">Max start time</label>
                <input asp-for="MaxDateTime" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                Trip
            </th>
            <th>
                StartDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TripClients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trip.TripId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripClientId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TripClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
