@model IEnumerable<Trips.Models.WayOfTrip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WayOfTripId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.WayOfTripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
