@model Trips.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<div style="background: white; border-radius: 5px; padding: 20px;">
    <div class="details">
        <div class="details__content">
            <div class="details__content__title"><span>Trip details</span></div>
            <div class="details__items">
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.Name)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.Name)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.Cost)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.Cost)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.Description)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.Description)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.DaysCount)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.DaysCount)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.LivingType)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.LivingType)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.FoodAvailable)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.FoodAvailable)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="details__content">
            <div class="details__content__title"><span>Trip Type details</span></div>
            <div class="details__items">
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripType.Name)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripType.Name)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripType.Description)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripType.Description)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripType.DangerLevel)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripType.DangerLevel)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripType.Preparation)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripType.Preparation)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="details__content">
            <div class="details__content__title"><span>Way of trip details</span></div>
            <div class="details__items">
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.WayOfTrip.TransportName)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.WayOfTrip.TransportName)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.WayOfTrip.TransportType)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.WayOfTrip.TransportType)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.WayOfTrip.DriveTime)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.WayOfTrip.DriveTime)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="details__content">
            <div class="details__content__title"><span>Trip place details</span></div>
            <div class="details__items">
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripPlace.Country)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripPlace.Country)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripPlace.Locality)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripPlace.Locality)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripPlace.PlaceType)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripPlace.PlaceType)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripPlace.PlaceName)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripPlace.PlaceName)
                        </span>
                    </div>
                </div>
                <div class="details__items__row">
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayNameFor(model => model.TripPlace.Description)
                        </span>
                    </div>
                    <div class="details__item__cell">
                        <span>
                            @Html.DisplayFor(model => model.TripPlace.Description)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="details__content__title"><span>Registered Clients</span></div>
    <div class="table">
        <div class="table__content">
            <div class="table__row">
                <div class="table__cell">Name</div>
                <div class="table__cell">Surname</div>
                <div class="table__cell">Patronomic</div>
                <div class="table__cell">PassportCode</div>
                <div class="table__cell">Gender</div>
                <div class="table__cell">Country</div>
            </div>

            @foreach (var item in Model.TripClients.Select(c => c.Client))
            {
                <div class="table__row">
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Surname)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Patronomic)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.PassportCode)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </div>
                    <div class="table__cell">
                        @Html.DisplayFor(modelItem => item.Country)
                    </div>
                </div>
            }
        </div>
    </div>

    <a asp-action="Edit" asp-route-id="@Model.TripId" class="table__button" style="margin-bottom: 20px;"><span>Edit</span></a>
</div>