@model TripsViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="background: white; border-radius: 5px; padding: 20px;">
    <div class="table">
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Create</span></a>
        <div class="table__search">
            <form asp-action="Index" method="post">
                <div class="table__search__block">
                    <div class="table__search__item">
                        <span class="display">Name</span>
                        <input asp-for="NameSearch">
                    </div>
                    <div class="table__search__item">
                        <span class="display">Min cost</span>
                        <input asp-for="MinimumCost">
                    </div>
                    <div class="table__search__item">
                        <span class="display">Max cost</span>
                        <input asp-for="MaximumCost">
                    </div>
                    <div class="table__search__item">
                        <span class="display">Cost order</span>
                        <select asp-for="CostSort">
                            <option value="0">Ascending</option>
                            <option value="1">Descending</option>
                        </select>
                    </div>
                </div>
                <div class="table__search__block">
                    <div class="table__search__item">
                        <div class="table__search__submit"><input type="submit" value="Search"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table__content">
            <div class="table__row">
                <div class="table__cell">Name</div>
                <div class="table__cell">Cost</div>
                <div class="table__cell">Description</div>
                <div class="table__cell">DaysCount</div>
                <div class="table__cell">LivingType</div>
                <div class="table__cell">FoodAvailable</div>
                <div class="table__cell"></div>
            </div>
            @foreach (var item in Model.Trips)
            {
        <div class="table__row">
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.Cost)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.DaysCount)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.LivingType)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.FoodAvailable)
            </div>
            <div class="table__cell table__cell__buttons">
                <div class="table__buttons">
                    <a asp-action="Edit" asp-route-id="@item.TripId" class="table__button1"><span>Edit</span></a>
                    <a asp-action="Details" asp-route-id="@item.TripId" class="table__button1"><span>Details</span></a>
                    <a asp-action="Delete" asp-route-id="@item.TripId" class="table__button1"><span>Delete</span></a>
                </div>
            </div>
        </div>
            }
        </div>
    </div>
</div>