@model PlaceViewModel

@{
    ViewData["Title"] = "Index";
}

<div style="background: white; border-radius: 5px; padding: 20px;">
    <div class="table">
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Create</span></a>
        <div class="table__search">
            <form asp-action="Index" method="post">
                <div class="table__search__block">
                    <div class="table__search__item">
                        <span class="display">Country</span>
                        <input asp-for="CountrySearch">
                    </div>
                    <div class="table__search__item">
                        <span class="display">Locality</span>
                        <input asp-for="LocalitySearch">
                    </div>
                    <div class="table__search__item">
                        <span class="display">Country order alphabet</span>
                        <select asp-for="CountryOrder">
                            <option value="0">Ascending</option>
                            <option value="1">Descending</option>
                        </select>
                    </div>
                </div>
                <div class="table__search__block">
                    <div class="table__search__item">
                        <div class="table__search__submit"><input type="submit" value="Search"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table__content">
            <div class="table__row">
                <div class="table__cell">Country</div>
                <div class="table__cell">Locality</div>
                <div class="table__cell">PlaceType</div>
                <div class="table__cell">PlaceName</div>
                <div class="table__cell">Description</div>
                <div class="table__cell"></div>
            </div>
            @foreach (var item in Model.TripPlaces)
            {
        <div class="table__row">
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.Country)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.Locality)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.PlaceType)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.PlaceName)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="table__cell table__cell__buttons">
                <div class="table__buttons">
                    <a asp-action="Edit" asp-route-id="@item.TripPlaceId" class="table__button1"><span>Edit</span></a>
                    <a asp-action="Delete" asp-route-id="@item.TripPlaceId" class="table__button1"><span>Delete</span></a>
                </div>
            </div>
        </div>
            }
        </div>
    </div>
</div>